<div class="flex justify-between items-center bg-[#F5F6F7] p-3 rounded-lg">
    <div>
        <div class="flex items-center" *ngIf="space">
            <div style="width: 40px; height: 40px" [style.backgroundColor]="space.color" class="rounded"></div>
            <div>
                <div class="flex items-center">
                    <p class="ml-2 text-lg font-bold">{{ space.name }}</p>
                    <ng-container *ngIf="space.permissions.includes('Space.Edit')">
                        <i class="pi pi-angle-down ml-2 hover:text-blue-500 cursor-pointer" (click)="menu.toggle($event)"></i>
                        <p-menu [model]="items" [popup]="true" #menu/>
                    </ng-container>
                </div>
                <p class="ml-2 text-sm">{{ space.description }}</p>
            </div>
        </div>
        <p-skeleton width="10rem" height="40px" borderRadius="16px" *ngIf="!space" ></p-skeleton>
    </div>

    <div class="cursor-pointer" (click)="openDialogMember()">
        <p-avatarGroup *ngIf="space">
            <p-avatar [image]="user(member.id)?.avatarUrl" shape="circle" *ngFor="let member of space.members.slice(0, 5)" class="border border-gray-300 rounded-full"></p-avatar>
            <p-avatar [label]="'+' + (space.members.length - 5 > 9 ? 9 : space.members.length - 5)" shape="circle" *ngIf="space.members.length > 5" class="border border-gray-300 rounded-full"></p-avatar>
        </p-avatarGroup>
        <p-skeleton width="5rem" height="40px" borderRadius="16px" *ngIf="!space"></p-skeleton>
    </div>
    
</div>

<p-dialog header="Chỉnh sửa thông tin" [(visible)]="displayDialog" [modal]="true" [style]="{width: '32vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="p-fluid">
        <form [formGroup]="spaceForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column;">
            <div class="flex items-center mb-2">
                <p-colorPicker formControlName="color"></p-colorPicker>
                <label class="block text-sm font-medium text-gray-900 ml-2">Thiết lập màu không gian</label>
            </div>
            <div class="p-field">
                <label for="name" class="text-sm font-semibold mb-1">Tên không gian</label>
                <app-text-input id="name" type="text" formControlName="name"></app-text-input>
            </div>
            <div class="p-field">
                <label for="description" class="text-sm font-semibold mb-1">Mô tả không gian</label>
                <app-text-input id="description" type="text" formControlName="description"></app-text-input>
            </div>
            <app-button 
                text="Lưu"
                type="submit"
                style="width: 80px; margin: 20px 0 0;"
            ></app-button>
        </form>
    </div>
</p-dialog>
