<div class="flex items-center w-full h-full">

    <div class='bg-blue-700 rounded-e-full flex items-center justify-center w-3/6 h-full'>
        <img 
            src='../../../assets/images/workflow.png' 
            alt='image_login' 
            class='md:w-[300px] max-md:w-[150px]' />
    </div>

    <div class='flex flex-col justify-center items-center w-3/6'>
        
        <div>
            <div class='flex justify-center mb-4'>
                <img
                    src='../../../assets/images/logo.png'
                    alt='logo'
                    class='w-[80px] h-[80px]'
                />
            </div>
        
            <div class='md:mb-[20px] max-md:mb-[10px] text-center'>
                <h1 class='text-[#195E8E] mb-[10px]'>
                    {{ currentPage }}
                </h1>
                <h3 class='text-[#195E8E]'>Hệ thống quản lý quy trình nghiệp vụ.</h3>
            </div>
        
            <router-outlet></router-outlet>
        </div>
    </div>

</div>