<div class="relative h-full">
    <app-form-builder
        [spaceId]="spaceId"
        [createMode]="false"
        [versionId]="versionId"
        (onFormUpdated)="onFormUpdated($event)"
        #formBuilder
    ></app-form-builder>
    <div class="absolute top-0 right-0 flex items-center" style="transform: translate(-5%, 25%);">
        
        <p-dropdown 
            [options]="formVersions"
            [(ngModel)]="versionId"
            appendTo="body"
            styleClass="bg-gray-50 border border-gray-300 w-full"
            optionLabel="createdAt"
            optionValue="id"
            placeholder="Chọn phiên bản biểu mẫu" 
        />

        <app-button
            text="Lưu"
            styleClass="ml-2"
            (onClick)="formBuilder.save()"
            [disabled]="formVersions.length == 0 || versionId != formVersions[0].id"
        >
        </app-button>

        <app-button
            text="Chia sẻ"
            styleClass="mx-2"
            (onClick)="shareForm()"
            style="margin-right: 12px;"
            [disabled]="formVersions.length == 0 || versionId != formVersions[0].id"
        >
        </app-button>


    </div>
</div>

<p-dialog 
    header="Chia sẻ biểu mẫu" 
    [(visible)]="shareDialogVisible" 
    [modal]="true" 
    [style]="{ width: '30vw' }"
    [resizable]="false" 
    [draggable]="false">
    <div *ngIf="shareLink">
        
        <div class="flex items-center">
            <label class="block text-sm font-semibold text-gray-900"> Đường dẫn</label>
        </div>

        <div class="flex items-center">
            <p-inputGroup>
                <input 
                    class="text-sm pl-1 border border-gray-300" 
                    pInputText 
                    [value]="shareLink" 
                    #input
                    readonly />
                <p-inputGroupAddon [ngStyle]="{ 'cursor': 'pointer' }" (click)="copyInputMessage(input)">
                    <span class="pi pi-copy cursor-pointer"></span>
                </p-inputGroupAddon>
            </p-inputGroup>
        </div>
    </div>
</p-dialog>
