<div class="relative h-full">
    <app-form-builder
        [spaceId]="spaceId"
        [createMode]="false"
        [versionId]="versionId"
        (onFormUpdated)="onFormUpdated($event)"
        #formBuilder
    ></app-form-builder>
    <div class="absolute top-0 right-0 flex items-center" style="transform: translate(-5%, 25%);">
        
        <p-dropdown 
            [options]="formVersions"
            [(ngModel)]="versionId"
            appendTo="body"
            styleClass="bg-gray-50 border border-gray-300 w-full"
            optionLabel="createdAt"
            optionValue="id"
            placeholder="Chọn phiên bản biểu mẫu" 
        />

        <app-button
            text="Lưu"
            styleClass="ml-2"
            (onClick)="formBuilder.save()"
            [disabled]="versionId != formVersions[0].id"
        >
        </app-button>

    </div>
</div>