<p-toolbar styleClass="p-2">
  <div class="p-toolbar-group-start">
  </div>
  <div class="p-toolbar-group-center">
    <form [formGroup]="form">
      <app-text-input
        formControlName="search"
        placeHolder="Nhập thông tin tìm kiếm"
        styleClass="mb-0 rounded-full"
      ></app-text-input>
    </form>
  </div>
  <div class="p-toolbar-group-end">
    <div class="flex flex-row items-center cursor-pointer font-medium bg-white p-2 rounded-full hover:bg-gray-200" (click)="menu.toggle($event)" >
      <ng-container *ngIf="user != null">
        <p-avatar styleClass="flex flex-row items-center mr-2 border" [image]="user.avatarUrl" shape="circle"></p-avatar>
        <span>{{ user.fullName }}</span>
      </ng-container>
      <ng-container *ngIf="user == null">
        <p-skeleton width="5rem" borderRadius="16px"></p-skeleton>
      </ng-container>
    </div>
    <p-tieredMenu #menu [model]="items" [popup]="true">
      <ng-template pTemplate="item" let-item let-hasSubmenu="hasSubmenu">
        <a pRipple class="flex items-center p-menuitem-link">
          <span *ngIf="item.icon" [class]="item.icon" class="p-menuitem-icon"></span>
          <p-avatar 
            *ngIf="item.customIcon" 
            [image]="item.customIcon" 
            styleClass="p-menuitem-icon flex items-center" 
            [style]="{ 'width': '16px', 'height': '16px'  }" 
            shape="circle"></p-avatar>
          <span class="p-menuitem-text">{{ item.label }}</span>
          <i *ngIf="hasSubmenu" class="pi pi-angle-right ml-auto text-primary"></i>
        </a>
      </ng-template>
    </p-tieredMenu>
  </div>
</p-toolbar>