:host ::ng-deep .p-tieredmenu {
    min-width: 300px;
}

:host ::ng-deep .p-submenu-list {
    right: 100%;
    left: unset;
}

:host ::ng-deep .p-menuitem-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

:host ::ng-deep .p-badge {
    min-width: 1rem;
    height: 1rem;
    font-size: 0.5rem;
    line-height: 1rem;
}

:host ::ng-deep .p-overlaypanel-content {
    padding: 0 !important;
}