<p-toolbar styleClass="p-2 bg-[#F5F6F7]" [style]="{ 'height': '6%' }">
  <div class="p-toolbar-group-start h-full">
    <img
        src='../../../../assets/images/logo.png'
        alt='logo'
        styleClass="flex items-center"
    />
  </div>
  <div class="p-toolbar-group-center">
  
  </div>
  <div class="p-toolbar-group-end">
    <app-notification></app-notification>
    <div class="flex items-center cursor-pointer pe-2 bg-white rounded-full hover:bg-gray-200 h-fit" (click)="menu.toggle($event)" >
      <ng-container *ngIf="user != null">
        <p-avatar styleClass="flex items-center mr-2 border" [image]="user.avatarUrl" shape="circle"></p-avatar>
        <span class="text-sm font-semibold">{{ user.fullName }}</span>
      </ng-container>
      <ng-container *ngIf="user == null">
        <p-skeleton width="5rem" borderRadius="16px"></p-skeleton>
      </ng-container>
    </div>
    <p-tieredMenu #menu [model]="items" [popup]="true">
      <ng-template pTemplate="item" let-item let-hasSubmenu="hasSubmenu">
        <a pRipple class="flex items-center p-menuitem-link">
          <span *ngIf="item.icon" [class]="item.icon" class="p-menuitem-icon"></span>
          <p-avatar 
            *ngIf="item.customIcon" 
            [image]="item.customIcon" 
            styleClass="p-menuitem-icon flex items-center" 
            [style]="{ 'width': '16px', 'height': '16px'  }" 
            shape="circle"></p-avatar>
          <span class="p-menuitem-text">{{ item.label }}</span>
          <i *ngIf="hasSubmenu" class="pi pi-angle-right ml-auto text-primary"></i>
        </a>
      </ng-template>
    </p-tieredMenu>

    <p-dialog 
      header="Thông tin doanh nghiệp" 
      [(visible)]="tenantPanelVisible"
      [draggable]="false" 
      [resizable]="false"
      [modal]="true"
      [style]="{width: '50vw'}">

      <ng-container *ngIf="tenantPanelVisible">
        <app-tenant-profile
          #tenantPanelComponent
        ></app-tenant-profile>

        <ng-template pTemplate="footer">
          
          <app-permission-wrapper permission="Permissions.Tenants.Edit">
            <app-button 
              icon="pi pi-check" 
              text="Lưu"
              [disabled]="tenantPanelComponent.disabled"
              (click)="tenantPanelComponent.saveProfile()"
            ></app-button>
          </app-permission-wrapper>

        </ng-template>
      
      </ng-container>
      
    </p-dialog>

    <p-dialog 
      header="Thông tin cá nhân" 
      [(visible)]="userPanelVisible"
      [draggable]="false" 
      [resizable]="false"
      [modal]="true"
      [style]="{width: '40vw'}">

      <app-user-panel 
        *ngIf="user"
        [user]="user"
        #userPanel
      ></app-user-panel>

      <ng-template pTemplate="footer">

        <app-button 
          icon="pi pi-check" 
          text="Lưu"
          [disabled]="userPanelComponent.disabled"
          (click)="userPanelComponent.updateProfile()"
        ></app-button>

      </ng-template>
      
    </p-dialog>

  </div>
</p-toolbar>