<div>
    <h1 class="text-base font-semibold">Tạo mới trường thông tin</h1>
    <span class="text-sm">Nhấp chọn hoặc kéo thả để tạo mới trường thông tin.</span>
</div>

<div class="text-sm">
    <div class="mt-3">
        <h1 class="font-semibold">Định dạng văn bản</h1>
        <div>
            <div 
                class="border border-gray-300 p-3 rounded-lg mt-2 cursor-pointer flex items-center" 
                pDraggable
                (onDragStart)="onElementDragStart(0)"
                (click)="formBuilderService.pushElement(0)">
                <i class="pi pi-language" style="color: #6b7280"></i>
                <span class="ml-2">Văn bản</span>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <h1 class="font-semibold">Định dạng số</h1>
        <div>
            <div 
                class="border border-gray-300 p-3 rounded-lg mt-2 cursor-pointer flex items-center" 
                pDraggable 
                (onDragStart)="onElementDragStart(1)"
                (click)="formBuilderService.pushElement(1)">
                <i class="pi pi-hashtag" style="color: #6b7280"></i>
                <span class="ml-2">Số</span>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <h1 class="font-semibold">Định dạng ngày</h1>
        <div>
            <div 
                class="border border-gray-300 p-3 rounded-lg mt-2 cursor-pointer flex items-center" 
                pDraggable 
                (onDragStart)="onElementDragStart(2)"
                (click)="formBuilderService.pushElement(2)">
                <i class="pi pi-calendar" style="color: #6b7280"></i>
                <span class="ml-2">Ngày</span>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <h1 class="font-semibold">Lựa chọn</h1>
        <div> 
            <div 
                class="border border-gray-300 p-3 rounded-lg mt-2 cursor-pointer flex items-center" 
                pDraggable 
                (onDragStart)="onElementDragStart(3)"
                (click)="formBuilderService.pushElement(3)">
                <i class="pi pi-check-circle" style="color: #6b7280"></i>
                <span class="ml-2">Trắc nghiệm một lựa chọn</span>
            </div>
            <div 
                class="border border-gray-300 p-3 rounded-lg mt-2 cursor-pointer flex items-center" 
                pDraggable 
                (onDragStart)="onElementDragStart(4)"
                (click)="formBuilderService.pushElement(4)">
                <i class="pi pi-check-square" style="color: #6b7280"></i>
                <span class="ml-2">Trắc nghiệm nhiều lựa chọn</span>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <h1 class="font-semibold">Đính kèm</h1>
        <div>
            <div 
                class="border border-gray-300 p-3 rounded-lg mt-2 cursor-pointer flex items-center" 
                pDraggable 
                (onDragStart)="onElementDragStart(5)"
                (click)="formBuilderService.pushElement(5)">
                <i class="pi pi-file" style="color: #6b7280"></i>
                <span class="ml-2">Tài liệu</span>
            </div>
        </div>
    </div>
</div>