<div>
    <h1 class="text-base font-semibold">Tạo mới trường thông tin</h1>
    <span class="text-sm">Nhấp chọn hoặc kéo thả để tạo mới trường thông tin.</span>
</div>

<div class="text-sm">
    <div class="mt-3">
        <h1 class="font-semibold">Định dạng văn bản</h1>
        <div>
            <div 
                class="border border-gray-300 p-3 rounded-lg mt-2 cursor-pointer flex items-center" 
                pDraggable
                (onDragStart)="onElementDragStart(0)"
                (click)="formBuilderService.pushElement(0)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" fill="#6b7280">
                    <path d="M254 52.8C249.3 40.3 237.3 32 224 32s-25.3 8.3-30 20.8L57.8 416H32c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32h-1.8l18-48H303.8l18 48H320c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H390.2L254 52.8zM279.8 304H168.2L224 155.1 279.8 304z"/>
                </svg>
                <span class="ml-2">Văn bản</span>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <h1 class="font-semibold">Định dạng số</h1>
        <div>
            <div 
                class="border border-gray-300 p-3 rounded-lg mt-2 cursor-pointer flex items-center" 
                pDraggable 
                (onDragStart)="onElementDragStart(1)"
                (click)="formBuilderService.pushElement(1)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" fill="#6b7280">
                    <path d="M181.3 32.4c17.4 2.9 29.2 19.4 26.3 36.8L197.8 128h95.1l11.5-69.3c2.9-17.4 19.4-29.2 36.8-26.3s29.2 19.4 26.3 36.8L357.8 128H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H347.1L325.8 320H384c17.7 0 32 14.3 32 32s-14.3 32-32 32H315.1l-11.5 69.3c-2.9 17.4-19.4 29.2-36.8 26.3s-29.2-19.4-26.3-36.8l9.8-58.7H155.1l-11.5 69.3c-2.9 17.4-19.4 29.2-36.8 26.3s-29.2-19.4-26.3-36.8L90.2 384H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h68.9l21.3-128H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h68.9l11.5-69.3c2.9-17.4 19.4-29.2 36.8-26.3zM187.1 192L165.8 320h95.1l21.3-128H187.1z"/>
                </svg>
                <span class="ml-2">Số</span>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <h1 class="font-semibold">Định dạng ngày</h1>
        <div>
            <div 
                class="border border-gray-300 p-3 rounded-lg mt-2 cursor-pointer flex items-center" 
                pDraggable 
                (onDragStart)="onElementDragStart(2)"
                (click)="formBuilderService.pushElement(2)">
                <i class="pi pi-calendar" style="color: #6b7280"></i>
                <span class="ml-2">Ngày</span>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <h1 class="font-semibold">Lựa chọn</h1>
        <div> 
            <div 
                class="border border-gray-300 p-3 rounded-lg mt-2 cursor-pointer flex items-center" 
                pDraggable 
                (onDragStart)="onElementDragStart(3)"
                (click)="formBuilderService.pushElement(3)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" fill="#6b7280">
                    <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                </svg>
                <span class="ml-2">Trắc nghiệm một lựa chọn</span>
            </div>
            <div 
                class="border border-gray-300 p-3 rounded-lg mt-2 cursor-pointer flex items-center" 
                pDraggable 
                (onDragStart)="onElementDragStart(4)"
                (click)="formBuilderService.pushElement(4)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" fill="#6b7280">
                    <path d="M342.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 178.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l80 80c12.5 12.5 32.8 12.5 45.3 0l160-160zm96 128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 402.7 54.6 297.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l256-256z"/>
                </svg>
                <span class="ml-2">Trắc nghiệm nhiều lựa chọn</span>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <h1 class="font-semibold">Đính kèm</h1>
        <div>
            <div 
                class="border border-gray-300 p-3 rounded-lg mt-2 cursor-pointer flex items-center" 
                pDraggable 
                (onDragStart)="onElementDragStart(5)"
                (click)="formBuilderService.pushElement(5)">
                <i class="pi pi-file" style="color: #6b7280"></i>
                <span class="ml-2">Tài liệu</span>
            </div>
        </div>
    </div>
</div>