<div class="flex flex-col {{ styleCssClass }}">
    <div class="mb-2">
        <div class="flex items-center">
            <label class="block text-sm font-semibold text-gray-900"> {{ element.name }} </label>
            <span class="text-red-500 ml-1" *ngIf="isRequired">*</span>
        </div>
        <span class="text-sm text-gray-500">{{ element.description }}</span>
    </div>

    <ng-container *ngIf="loading">
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    </ng-container>
    
    <ng-container *ngIf="!loading">
        <input
            class="text-sm rounded-lg focus:ring-blue-500 block w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900"
            pInputText 
            [(ngModel)]="value"
            [placeholder]="'Nhập ' + element.name"
        />
    </ng-container>

</div>