<div class="h-screen" #wrapper>
    <div class="h-[6%] flex flex-col justify-between border-b ">
        <div class="flex items-center justify-between h-full">
            <input
                [readonly]="!editable"
                [(ngModel)]="submission.name"
                class="text-2xl font-bold rounded-lg focus:ring-blue-500 focus:border-blue-500 rounded-none w-full h-[80%] p-4 text-gray-900"
                pInputText 
                *ngIf="submission"
                (blur)="onUpdateName()"
            />
            <ng-container *ngIf="!submission">
                <p-skeleton class="w-full" height="4rem"></p-skeleton>
            </ng-container>
            <div class="h-[80%] flex items-center ml-2 me-2" *ngIf="submission && editable">
                <p-menu #menu [model]="items" [popup]="true" appendTo="body" styleClass="text-sm"/>
                <span class="pi pi-ellipsis-h hover:text-blue-500 cursor-pointer rounded p-2 border border-gray-300" (click)="menu.toggle($event)"></span>
            </div>
        </div>
    </div>
    <div class="w-full flex h-[94%]">
        <div class="w-[55%] border-e h-full overflow-auto flex flex-col justify-between">
            <div class="p-4">
                <div>
                    <app-submission-inline 
                        [form]="form" 
                        [submission]="submission"
                        (elementEditted)="onElementEditted($event)"
                        [editable]="editable"
                    ></app-submission-inline>
                </div>
    
                <hr class="mt-3 mb-3">
                
                <div *ngIf="submission">
                    <div class="flex items-center mb-3">
                        <div class="w-[25%] truncate flex items-center">
                            <i class="pi pi-calendar" style="color: #6b7280"></i>
                            <div class="text-sm font-semibold ml-2">Ngày tạo</div>
                        </div>
                        <div class="text-sm ps-2.5 ml-2">
                            <ng-container *ngIf="submission">
                                {{ submission.createdAt | date: 'hh:mm dd/MM/yyyy' }}
                            </ng-container>
                            <ng-container *ngIf="!submission">
                                ----
                            </ng-container>
                        </div>
                    </div>
                    <div class="flex items-center mb-3">
                        <div class="w-[25%] truncate flex items-center">
                            <i class="pi pi-user" style="color: #6b7280"></i>
                            <div class="text-sm font-semibold ml-2">Người tạo</div>
                        </div>
                        <div class="text-sm flex items-center ps-2.5 ml-2">
                            <p-avatar 
                                [image]="user(submission.createdBy)?.avatarUrl" 
                                shape="circle" />
                            <p class="ml-2"> {{ createdBy() }} </p>
                        </div>
                    </div>
                    <div class="flex items-center mb-3" *ngIf="submission.updatedAt">
                        <div class="w-[25%] truncate flex items-center">
                            <i class="pi pi-calendar" style="color: #6b7280"></i>
                            <div class="text-sm font-semibold ml-2">Ngày cập nhật</div>
                        </div>
                        <div class="text-sm ps-2.5 ml-2">
                            <ng-container *ngIf="submission">  
                                {{ submission.updatedAt ? ( submission.updatedAt | date: 'hh:mm dd/MM/yyyy') : '----' }}
                            </ng-container>
                            <ng-container *ngIf="!submission">
                                ----
                            </ng-container>
                        </div>
                    </div>
                    <div class="flex items-center mb-3" *ngIf="submission.updatedBy">
                        <div class="w-[25%] truncate flex items-center">
                            <i class="pi pi-user" style="color: #6b7280"></i>
                            <div class="text-sm font-semibold ml-2">Người cập nhật</div>
                        </div>
                        <div class="text-sm flex items-center ps-2.5 ml-2">
                            <p-avatar 
                                [image]="user(submission.updatedBy)?.avatarUrl" 
                                shape="circle" />
                            <p class="ml-2">
                                {{ user(submission.updatedBy)?.fullName }}
                            </p>
                        </div>
                    </div>
                    <div class="flex items-center mb-3">
                        <div class="text-sm font-semibold w-[25%] truncate">Nguồn dữ liệu</div>
                        <div class="text-sm ps-2.5 ml-2">Nội bộ</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="w-[45%] overflow-auto">
            <p-tabView>
                <p-tabPanel header="Nghiệp vụ">
                    <ng-template pTemplate="content">
                        <app-space-record-business-flow [submission]="submission" [space]="space"></app-space-record-business-flow>
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel header="Bình luận">
                    <ng-template pTemplate="content">
                        <app-space-record-comment [submissionId]="submissionId"></app-space-record-comment>
                    </ng-template>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>