:host ::ng-deep .p-inputnumber-input {
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: block;
    width: 100%;
    padding: 0.625rem;
    color: rgb(17 24 39);
}

:host ::ng-deep .p-inputnumber {
    width: 100%;
}

:host ::ng-deep .p-inputwrapper {
    width: 100%;
}