<div class="flex justify-center items-center w-screen h-screen" *ngIf="!isInitUser">

    <app-error *ngIf="!isValidRequest" text="Yêu cầu không hợp lệ"></app-error>

    <div *ngIf="loading && isValidRequest" class="flex flex-col items-center justify-center">
        <p-progressSpinner 
            styleClass="w-12 h-12" 
            strokeWidth="8" 
            fill="var(--surface-ground)" 
            animationDuration=".5s"
        ></p-progressSpinner>
        Yêu cầu đang được xử lý
    </div>

</div>

<app-tenant-invitation-init-account 
    *ngIf="isInitUser"
    [token]="token"
></app-tenant-invitation-init-account>