<p-sidebar 
    [(visible)]="visible" 
    [modal]="true"
    [showCloseIcon]="true"
    styleClass="w-[20vw]"
    appendTo="body"
    position="right">

    <div>
        <h1>Thiết lập bước nghiệp vụ</h1>
    </div>

    <hr class="mt-3 mb-3">

    <div>
        <form [formGroup]="form">
  
            <app-text-input
              title="Tiêu đề"
              formControlName="name"
              placeHolder="Nhập tiêu đề bước nghiệp vụ"
              [readonly]="!editable"
            ></app-text-input>

        </form>

        <div>
            <label class="text-sm font-medium text-gray-900">Người phụ trách</label>
            <p-multiSelect 
                optionLabel="fullName" 
                optionValue="id"
                [options]="tenantUsers"
                [(ngModel)]="node?.data.personInChargeIds"
                [showHeader]="false"
                styleClass="border border-gray-300 w-full text-sm mt-2 text-gray-900"
                placeholder="Chọn người phụ trách"
                [readonly]="!editable" />
        </div>
    </div>

    <div *ngIf="node?.data.type == 2">
        <hr class="mt-3 mb-3">

        <div>
            <h1 class="font-semibold">Kết quả</h1>
            <p class="text-sm">Thiết lập đầu ra của nghiệp vụ</p>
        </div>

        <div class="mt-3 mb-3">
            <div *ngFor="let outCome of node?.data.outComes" class="flex items-center mb-1 cursor-pointer" (click)="onOutComeSelect(outCome.id)">
                <div style="width: 20px; height: 20px" [style.backgroundColor]="outCome.color" class="rounded"></div>
                <div class="ml-2 hover:text-blue-700">{{ outCome.name }}</div>
            </div>
        </div>

        <button 
            type="button" 
            class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
            (click)="createOutComeDialogVisible = true"
            *ngIf="editable"
            >Thêm</button>
    </div>

    <div>
        <hr class="mt-3 mb-3">
        <div>
            <h1 class="font-semibold">Công việc</h1>
            <p class="text-sm">Thiết lập danh sách công việc cần hoàn thành</p>
        </div>
        <div class="flex items-center mt-1 cursor-pointer" *ngFor="let work of node?.data.works" [class.border-b]="editable || work != node?.data.works[node?.data.works.length - 1]">
            <span class="pi pi-check-circle"></span>
            <input
                [(ngModel)]="work.name"
                class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 rounded w-full p-2 text-gray-900 ml-1"
                pInputText 
                [readOnly]="!editable"
            />
            <span class="pi pi-times ml-1" (click)="node!.data.works.splice(node!.data.works.indexOf(work), 1)" *ngIf="editable"></span>
        </div>
        <div class="mt-3" *ngIf="editable">
            <button 
                type="button" 
                class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
                (click)="onAddWork()"
            >Thêm công việc</button>
        </div>
    </div>

    <div *ngIf="node?.data.type != 1">
        <hr class="mb-3" [class.mt-1]="!editable" [class.mt-3]="editable">
        <div>
            <h1 class="font-semibold">Biểu mẫu</h1>
            <p class="text-sm">Thiết lập trường thông tin của bước nghiệp vụ</p>
        </div>

        <div class="mb-3 mt-3">
            <ng-container *ngFor="let element of node?.data.elements; let i = index">
                <div
                    class="flex items-center justify-between mt-2 cursor-pointer form-element" 
                    (onDragStart)="onElementDragStart(element)"
                    (onDrop)="onDropOnElement($event, i)"
                    (click)="onEditElement(element, i)"
                    [pDraggableDisabled]="!editable"
                    pDraggable
                    pDroppable>
                    <div 
                        class="text-sm font-semibold w-[35%] hover:text-blue-500 flex items-center" 
                        [pTooltip]="element.name" 
                        tooltipPosition="bottom" 
                        tooltipStyleClass="text-xs">

                        <i class="pi pi-language" style="color: #6b7280" *ngIf="element.type == 0"></i>

                        <i class="pi pi-hashtag" style="color: #6b7280" *ngIf="element.type == 1"></i>

                        <i class="pi pi-calendar" style="color: #6b7280" *ngIf="element.type == 2"></i>

                        <i class="pi pi-check-circle" style="color: #6b7280" *ngIf="element.type == 3"></i>

                        <i class="pi pi-check-square" style="color: #6b7280" *ngIf="element.type == 4"></i>

                        <i class="pi pi-file" style="color: #6b7280" *ngIf="element.type == 5"></i>
                        
                        <span class="ml-2 truncate">{{ element.name }}</span>
                    </div>
                    <div class="text-sm ml-2.5 border border-gray-300 h-9 rounded w-[60%]">
                        
                    </div>
                </div>
            </ng-container>
        </div>

        <button 
            type="button" 
            class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
            (click)="createFormElementDialogVisible = true"
            *ngIf="editable"
            >Thêm trường thông tin</button>
    </div>

    <ng-container *ngIf="node?.data.errorMessages && node?.data.errorMessages.length > 0">
        <hr class="mt-3 mb-3">

        <div class="mb-3">
            <h1>Thông báo thiết lập</h1>
        </div>

        <div class="p-4 mb-3 text-sm text-red-800 rounded-lg bg-red-50" role="alert" *ngFor="let message of node?.data.errorMessages">
            {{ message }}
        </div>
    </ng-container>

    <ng-template pTemplate="footer">

        <div class="flex justify-between" *ngIf="editable">
            <div>

            </div>
            <div>
                <app-button 
                    text="Xóa"
                    type="submit"
                    severity="danger"
                    (onClick)="onDeleteNode()"
                ></app-button>
    
                <app-button 
                    text="Lưu"
                    type="submit"
                    (onClick)="onUpdateNode()"
                    styleClass="ml-2"
                ></app-button>
            </div>
        </div>

    </ng-template>

</p-sidebar>

<p-dialog 
    header="Thiết lập kết quả đầu ra" 
    [(visible)]="outComeDialogVisible" 
    [draggable]="false"
    [modal]="true"
    [resizable]="false"
    appendTo="body"
    [style]="{width: '20vw'}">
    
    <app-business-flow-outcome-detail 
        *ngIf="outComeDialogVisible" 
        [node]="node" 
        [outComeId]="selectedOutComeId"
        (saveOutCome)="onSaveOutCome($event)"
        (deleteOutCome)="onDeleteOutCome($event)"
    ></app-business-flow-outcome-detail>

</p-dialog>

<p-dialog 
    header="Thiết lập kết quả đầu ra" 
    [(visible)]="createOutComeDialogVisible" 
    [draggable]="false"
    [modal]="true"
    [resizable]="false"
    [style]="{width: '20vw'}"
    appendTo="body">
    
    <app-business-flow-outcome-detail 
        *ngIf="createOutComeDialogVisible" 
        [node]="node" 
        [createMode]="true"
        [outComeId]="selectedOutComeId"
        (saveOutCome)="onSaveOutCome($event)"
    ></app-business-flow-outcome-detail>

</p-dialog>

<p-dialog
    header="Thiết lập trường thông tin" 
    [(visible)]="createFormElementDialogVisible" 
    [draggable]="false"
    [modal]="true"
    [resizable]="false"
    [style]="{width: '30vw'}"
    appendTo="body"
>
    <app-form-builder-dialog 
        *ngIf="createFormElementDialogVisible && !selectedElement"
        (saveElement)="onSaveElement($event)">

    </app-form-builder-dialog>
    <app-form-builder-dialog
        *ngIf="createFormElementDialogVisible && selectedElement"
        [element]="selectedElement"
        (saveElement)="onSaveElement($event)"
        (deleteElement)="onDeleteElement()"
    >
    </app-form-builder-dialog>
</p-dialog>