.p-dropdown-label {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.p-inputwrapper {
    width: 100%;
}

.p-checkbox .p-checkbox-box {
    border-width: 1px;
    border-color: rgb(209 213 219);
}