<p-overlayPanel #op>
    <div class="w-96">
        <div class="p-2 border-b border-gray-300">
            <p class="text-normal font-semibold">Danh sách lọc</p>
            <p class="text-xs">Thiết lập điều kiện lọc theo các trường thông tin bên dưới</p>
        </div>
        <div class="max-h-96 w-full overflow-y-auto ps-2 pe-2 pb-2">
            <div *ngIf="activeFields.length == 0" class="mt-3 text-center text-sm font-semibold">Bộ lọc trống</div>
            <ng-container *ngFor="let field of activeFields">
                <div class="mt-3 w-full">
                    <div class="flex items-center justify-between mb-1">
                        <label class="text-sm font-semibold">{{ field.name }}</label>
                        <span class="pi pi-minus text-xs bg-gray-200 px-3 py-1.5 font-medium rounded-full text-red-500 cursor-pointer hover:bg-gray-300" (click)="onInActiveField(field)"></span>
                    </div>

                    <div class="flex items-center mt-1">
                        <ng-container>

                            <p-dropdown 
                                *ngIf="field.type == 'single-select'"
                                [(ngModel)]="field.selectedValue"
                                [showClear]="true" 
                                [options]="field.data"
                                [placeholder]="field.placeHolder"
                                (onChange)="onFilterFieldChanged(field, $event)"
                                styleClass="bg-gray-50 border border-gray-300 w-full mt-1 text-sm"
                                panelStyleClass="text-sm"
                                optionLabel="text" 
                                optionValue="value"
                                appendTo="body"
                                (onBlur)="onApplyFilter()"
                            ></p-dropdown>
    
                            <input
                                *ngIf="field.type == 'text'"
                                class="text-sm rounded-lg focus:ring-blue-500 block w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900"
                                pInputText 
                                [(ngModel)]="field.selectedValue"
                                [placeholder]="field.placeHolder"
                                (blur)="onApplyFilter()"
                                (keydown.enter)="onApplyFilter()"
                            />
    
                            <p-multiSelect 
                                *ngIf="field.type == 'multi-select'"
                                [(ngModel)]="field.selectedValue"
                                [options]="field.data"
                                [showHeader]="false"
                                [showClear]="false"
                                optionLabel="text" 
                                optionValue="value"
                                panelStyleClass="text-sm"
                                styleClass="bg-gray-50 border border-gray-300 mt-1 text-sm"
                                [placeholder]="field.placeHolder"
                                appendTo="body" 
                                (onPanelHide)="onApplyFilter()"
                            />
    
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="flex flex-row justify-between p-2">
            <div class="relative">
                <button 
                    *ngIf="fields.length > 0"
                    type="button" 
                    class="w-40 py-2.5 px-5 me-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100"
                    (click)="availableFilterFields.toggle($event)"
                >
                    Thêm lọc
                </button>

                <p-overlayPanel #availableFilterFields styleClass="availableField">
                    <div class="w-62">
                
                        <div class="p-2">
                            <p class="text-normal font-semibold">Danh sách trường thông tin</p>
                            <p class="text-xs">Chọn trường thông tin</p>
                        </div>
                        
                        <div class="w-full overflow-y-auto max-h-64">
                            <ng-container *ngFor="let field of fields">
                                <div class="flex items-center border-t p-3 cursor-pointer hover:bg-gray-50" 
                                    (click)="onActiveField(field, availableFilterFields)">
                                    <i class="pi pi-language" style="color: #6b7280" *ngIf="field.type == 'text'"></i>
                                    <i class="pi pi-check-circle" style="color: #6b7280" *ngIf="field.type == 'single-select'"></i>
                                    <i class="pi pi-check-square" style="color: #6b7280" *ngIf="field.type == 'multi-select'"></i>
                                    <label class="block text-sm font-semibold text-gray-900 w-[80%] truncate ml-2 cursor-pointer"> {{ field.name }} </label>
                                </div>
                            </ng-container>
                        </div>

                    </div>
                </p-overlayPanel>
            </div>
            <div>
                <button 
                    *ngIf="activeFields.length > 0"
                    type="button" 
                    class="w-40 py-2.5 px-5 text-sm font-medium text-white focus:outline-none bg-red-600 rounded-lg border border-gray-200 hover:bg-red-700"
                    (click)="onResetFilter()"
                >
                    Bỏ lọc
                </button>
            </div>
        </div>
    </div>
</p-overlayPanel>

<div class="relative">
    <app-button 
        text="Lọc"
        icon="pi pi-list"
        [badge]="activeFields.length.toString()"
        (onClick)="op.toggle($event)" 
    ></app-button>
</div>