<div 
    class="flex items-center text-gray-500 p-2 bg-white rounded-full hover:bg-gray-200 me-2 cursor-pointer" 
    (click)="op.toggle($event)"
>

<p-skeleton shape="circle" size="2rem" *ngIf="unReadCount == undefined"/>
<i class="pi pi-bell" pBadge styleClass="text-xs" *ngIf="unReadCount != undefined" [value]="unReadCount > 9 ? '9+' : unReadCount.toString()"></i>

<p-overlayPanel #op styleClass="notification" (onShow)="onShow()">
    <div class="w-96">
        <div class="p-2 flex justify-between items-center">
            <p class="text-normal font-semibold">Thông báo</p>
            <span class="text-sm font-semibold cursor-pointer" (click)="markAllRead()">Đọc tất cả</span>
        </div>
        <div *ngIf="notifications.length == 0" class="p-2 border-t border-gray-300 flex flex-col items-center">
            <span class="text-sm font-semibold">Không có thông báo</span>
        </div>
        <p-scroller 
            *ngIf="notifications.length > 0"
            [items]="notifications"
            [itemSize]="70" 
            [autoSize]="true"
            styleClass="border-1 surface-border h-96 w-full" 
            (onScrollIndexChange)="onScroll($event)">
                <ng-template pTemplate="item" let-item let-options="options"> 
                    <app-notification-item 
                        [item]="item" 
                        (readNotification)="onReadNotification()"
                        styleClass="p-2 border-t border-gray-300 bg-gray-50 hover:bg-gray-100"
                    ></app-notification-item>
                </ng-template>
        </p-scroller>
    </div>
</p-overlayPanel>
</div>