:host ::ng-deep .p-dropdown {
    padding: 0.625rem;
}

:host ::ng-deep .p-dropdown-label {
    padding: 0;
}

:host ::ng-deep .p-sidebar-header {
    padding: 0;
}

:host ::ng-deep .p-sidebar-content {
    padding: 0;
}

.list-field {
    .p-overlaypanel-content {
        padding: 0 !important;
    }
}