<p-table 
    [value]="data"
    [lazy]="true"
    [autoLayout]="true"
    [paginator]="true"
    [rows]="model.rows"
    [tableStyle]="{ 'min-width': '50rem' }"
    [totalRecords]="totalRecords"
    [(selection)]="selectedRow"
    selectionMode="single"
    (onPage)="onPageChange($event)"
    (onRowSelect)="onRowSelected($event)"
    styleClass="p-datatable-gridlines {{ styleClass }}" 
    paginatorStyleClass="ml-auto">

    <ng-template pTemplate="caption">
        <div class="flex flex-row items-center">
            <span *ngIf="model.title"> {{ model.title }} </span>
            <ng-content select="[leftHeaderTemplate]"></ng-content>
            <div class="p-input-icon-left ml-auto flex flex-row items-center">
                <ng-content select="[rightHeaderTemplate]"></ng-content>
                <app-filter 
                    *ngIf="filterFields"
                    [fields]="filterFields"
                    (filterChange)="onFilterChange($event)"
                ></app-filter>
                <input 
                    id="input"
                    (keyup)="onSearch($event)"
                    class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 ms-2"
                    placeholder="Nhập thông tin tìm kiếm"
                    pInputText 
                />
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of model.columns" class="border w-48 truncate cursor-pointer" [pTooltip]=col.name tooltipPosition="top" tooltipStyleClass="text-sm">
                {{ col.name }}
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
        <ng-container *ngIf="!model.pagedResult">
            <tr>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
            </tr>
        </ng-container>
        <ng-container *ngIf="model.pagedResult">
            <tr [pSelectableRow]="row">
                <ng-container *ngFor="let col of model.columns">
                    <td class="border w-48 truncate"
                        [innerHTML]="col.generate != null ? col.generate(row) : row[col.field]"
                    > 
                    </td>
                </ng-container>
            </tr>
        </ng-container>
    </ng-template>

</p-table>