<div class="mt-3">
    <app-space-header [space]="space"></app-space-header>
</div>

<p-tabView class="h-full block" [(activeIndex)]="activeIndex">
    <p-tabPanel header="Dữ liệu">
        <app-space-data *ngIf="space" [space]="space"></app-space-data>
    </p-tabPanel>
    <p-tabPanel header="Biểu mẫu">
        <ng-template pTemplate="content">
            <app-space-form *ngIf="space" [spaceId]="space.id"></app-space-form>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Quy trình nghiệp vụ">
        <ng-template pTemplate="content"> 
            <div class="h-full relative" *ngIf="space">
                <app-space-business-flow [space]="space" [spaceId]="space.id"></app-space-business-flow>
            </div>
        </ng-template>
    </p-tabPanel>
</p-tabView>