<div class="flex items-center cursor-pointer w-full {{ styleClass }}" (click)="onClickNotification(item)">
    <p-avatar [image]="userAvatar(item.senderId)" styleClass="flex items-center border borde-gray-300" shape="circle" size="large"></p-avatar>
    <div class="ml-3">
        <div class="flex items-center text-sm font-semibold">
            <div [innerHTML]="item.title" class="line-clamp-2"></div>
            <div class="w-2 h-2 bg-blue-500 rounded-full ml-1" *ngIf="item.status == 1"></div>
        </div>
        <div class="text-sm line-clamp-3" [innerHTML]="item.content"></div>
        <div class="text-xs font-normal flex items-center mt-1">
            <span class="pi pi-clock me-1"></span>
            {{ item.created | timeAgo }}
        </div>
    </div>
</div> 