<div class="flex flex-col {{ styleCssClass }}">
    <label 
        class="block mb-1 text-sm font-medium text-gray-900" 
        for="input"> {{ element.name }} </label>

    <ng-container *ngIf="loading">
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    </ng-container>
    
    <ng-container *ngIf="!loading">
        <p-multiSelect 
            optionLabel="name" 
            optionValue="id"
            [(ngModel)]="value"
            [options]="element.options"
            [showHeader]="false"
            [placeholder]="'Chọn ' + element.name" />
    </ng-container>
    
</div>